<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Mediacontrol Example</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <input id="checkbox1" class="csync" type="checkbox" />
    <br />
    <input
      id="slider1"
      class="sync"
      type="range"
      min="0"
      max="50"
      value="{{slider1}}"
    />
    <br />
    <input
      id="slider2"
      class="sync"
      type="range"
      min="0"
      max="50"
      value="{{slider2}}"
    />
    <br />
    <input id="txt1" class="sync" type="text" />

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/main.js"></script>
  </body>
</html>
